@model IEnumerable<Employee>
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>*@
    <h1>Employee Details</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>EMAIL</td>
            <td>DEPT</td>
        </tr>
        @foreach(var emp in Model)
        {
        <tr>
        <td>@emp.id</td>
        <td>@emp.name</td>
        <td>@emp.email</td>
        <td>@emp.dept</td>
        </tr>
        }

    </table>

@*</body>
</html>*@
