@model MVCEmployeeValidation.Models.Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Welcome @Html.DisplayFor(m => m.Name)</h1>
@Html.ActionLink("logout", "Login", "Employee")
@*//name,action,controller*@


